<!-- /templates/index.liquid -->
{% comment %}
<div class="index-sections" data-sections-wrapper>
  {{ content_for_index }}
</div>
{% endcomment %}

{% section 'hero-slider-custom' %}
{% section 'three-col-products' %}
{% section 'two-sec-home' %}
{% section 'featured-recipes' %}
{% section 'testimonial-slider' %}