{% section 'LP-holiday-hero' %}
{% section 'LP-holiday-recipe1' %}
{% section 'LP-holiday-recipe2' %}
{% section 'LP-holiday-recipe3' %}
<div class="lp-two-sec">
	{% section 'two-sec-home' %}
</div>
{% section 'testimonial-slider' %}