<section class="health-benefits-page default-page-wrap default-page">
  {%section 'health-benefits-hero'%}
  {%section 'benefits-intro'%}
  {%section 'health-benefits'%}
  {%section 'stamp-of-approval'%}
   {%section 'sign-up'%}
  {%section 'taste-the-difference'%}
  {%section 'testimonial-slider'%}
</section>
