<section class="farm-fresh-flavor-page default-page-wrap default-page">

  {%section 'farm-fresh-flavor-hero'%}
  {%section 'taste-the-difference-v2'%}

  {%section 'health-benefits-v2'%}

 {%section 'logos'%}
  
  	{%section 'floating-footer'%}
</section>
